<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="loggingHelper" class="team.boolbee.poc.logging.slf4j.LoggingHelper"/>

	<bean id="startupManager" class="team.boolbee.poc.logging.jcl.StartupManager">
		<property name="loggingHelper" ref="loggingHelper" />
	</bean>

</beans>
