<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>D:\logs\poc-logging\logback\stacktrace.log</file>
		<encoder>
			<pattern>${details}: %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ROLLING_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
		<File>D:\logs\poc-logging\logback\logging.log</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>D:\logs\poc-logging\logback\logging.log.%i
			</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10KB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<appender name="TIME_ROLLING_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
		<!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy -->
		<!--for further documentation -->
		<File>D:\logs\poc-logging\logback\time-logging.log</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:\logs\poc-logging\logback\time-logging.%d{yyyy-MM-dd-HH-mm}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<!-- <appender name="DATABASE"> -->
	<!-- </appender> -->

	<appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
		<!--See http://logback.qos.ch/manual/appenders.html#SMTPAppender -->
		<!--for documentation -->
		<smtpHost>smtp.gmail.com</smtpHost>
		<smtpPort>587</smtpPort>
		<STARTTLS>true</STARTTLS>
		<username>${email.account}</username>
		<password>${email.password}</password>

		<to>${email.target}</to>
		<to>${email.target.bcc}</to>
		<from>${email.account}</from>
		<subject>Log message from Logback</subject>

		<!-- <layout class="ch.qos.logback.classic.PatternLayout"> -->
		<!-- <pattern>%date %-5level %logger{35} - %msg%n</pattern> -->
		<!-- </layout> -->

		<!-- <layout class="ch.qos.logback.classic.html.HTMLLayout"/> -->
		<layout class="ch.qos.logback.classic.html.HTMLLayout">
			<!-- <pattern>%relative%thread%mdc%level%logger%msg</pattern> -->
			<pattern>%date%level%logger%msg</pattern>
<!-- 			<cssBuilder class="ch.qos.logback.classic.html.UrlCssBuilder"> -->
<!-- 				<url>https://github.com/qos-ch/logback-demo/blob/master/src/main/webapp/css/pk.css</url> -->
<!-- 			</cssBuilder> -->
		</layout>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<!-- By default, the outgoing message will contain the last 256 messages 
			seen by SMTPAppender. -->
		<cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
			<!-- send just one log entry per email -->
			<bufferSize>1</bufferSize>
		</cyclicBufferTracker>
		<asynchronousSending>false</asynchronousSending>
	</appender>

	<!-- <logger name="com.semplest"> -->
	<!-- <level value="INFO" /> -->
	<!-- </logger> -->

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<appender-ref ref="ROLLING_FILE" />
		<appender-ref ref="TIME_ROLLING_FILE" />
		<!-- <appender-ref ref="DATABASE" /> -->
		<!-- <appender-ref ref="REMOTE" /> -->
		<appender-ref ref="EMAIL" />
	</root>
</configuration>