<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.directwebremoting.org/schema/spring-dwr
    http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

	<bean id="trafficService" class="team.boolbee.poc.spring.dwr.services.TrafficServiceImpl">
		<dwr:remote javascript="traffic">
			<dwr:exclude method="setAppId" />
		</dwr:remote>
		<property name="appId" value="6oQAvJ78" />
	</bean>

	<dwr:configuration>
		<dwr:convert type="bean" class="team.boolbee.poc.spring.dwr.model.TrafficInfo" />
	</dwr:configuration>

</beans>