<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">${connection.driver_class}</property>
		<property name="connection.url">${connection.url.base}POC_HB03_xml_inheritance_oneTablePerConcreteClass${connection.url.parameters}</property>
		<property name="connection.username">${connection.username}</property>
		<property name="connection.password">${connection.password}</property>
		<property name="dialect">${dialect}</property>

		<!-- set up c3p0 for use -->
		<property name="c3p0.max_size">10</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">create</property>

		<mapping resource="Product.hbm.xml" />
		<mapping resource="Drink.hbm.xml" />
		<mapping resource="Food.hbm.xml" />
		<mapping resource="Course.hbm.xml" />
		<mapping resource="Dessert.hbm.xml" />

	</session-factory>

</hibernate-configuration>