<!DOCTYPE tiles-definitions PUBLIC
 "-//Apache Software Foundation//DTD Tiles Configuration 1.1//EN"
 "http://jakarta.apache.org/struts/dtds/tiles-config_1_1.dtd">

<tiles-definitions>
	<!-- <definition name=".header" page="/WEB-INF/jsp/header.jsp" controllerClass="com.roadrantz.tiles.HeaderTileController" 
		/> -->

	<definition name="loginTemplate" page="/WEB-INF/jsp/template.jsp">
		<put name="title" value="RoadRantz" />
		<!-- <put name="header" value=".header"/> -->
		<put name="content" value="/WEB-INF/jsp/defaultContentPage.jsp" />
		<put name="footer" value="/WEB-INF/jsp/footer.jsp" />
	</definition>

	<definition name="userMenutemplate" page="/WEB-INF/jsp/pageTemplate.jsp">
		<put name="title" value="RoadRantz" />
		<!-- <put name="header" value=".header"/> -->
		<put name="content" value="/WEB-INF/jsp/defaultContentPage.jsp" />
		<put name="footer" value="/WEB-INF/jsp/footer.jsp" />
	</definition>

	<definition name="login" extends="loginTemplate">
		<put name="title" value="Login to RoadRantz" />
		<put name="content" value="/WEB-INF/jsp/login.jsp" />
	</definition>
	<definition name="home" extends="userMenutemplate">
		<put name="title" value="Welcome to RoadRantz" />
		<put name="content" value="/WEB-INF/jsp/home.jsp" />
	</definition>

	<definition name="vehiclesForPerson" extends="userMenutemplate">
		<put name="title" value="Vehicles for a person" />
		<put name="content" value="/WEB-INF/jsp/vehicles.jsp" />
	</definition>

	<definition name="addVehicle" extends="userMenutemplate">
		<put name="title" value="Add a vehicle" />
		<put name="content" value="/WEB-INF/jsp/addVehicle.jsp" />
	</definition>
	
	<definition name="vehicleAdded" extends="userMenutemplate">
	  <put name="title" value="Vehicle added" />
	  <put name="content" value="/WEB-INF/jsp/vehicleAdded.jsp"/>
	</definition>  


</tiles-definitions>
