/test-output/
/POC_HB03_annotation_oneToOne_bidirectional_identicalPrimaryKeys.lck
/POC_HB03_annotation_oneToOne_bidirectional_identicalPrimaryKeys.properties
/POC_HB03_annotation_oneToOne_bidirectional_identicalPrimaryKeys.script
