<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>poc-webapp-security-tomcat</display-name>

	<!-- ============================== -->
	<!-- ===== SERVLET POR DEFECTO ==== -->
	<!-- ============================== -->

	<!-- Si no se encuentra presente un archivo de bienvenida, el servlet predeterminado 
		 sirve una lista de directorios o devuelve un estado 404, dependiendo de la 
		 configuración del parámetro listings. -->
	<servlet>
		<servlet-name>DirectoryListing</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
		<init-param>
			<param-name>listings</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<!-- ==================================== -->
	<!-- ===== MAPEOS DE URLS PERMITIDAS ==== -->
	<!-- ==================================== -->

	<servlet-mapping>
		<servlet-name>DirectoryListing</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- ====================================== -->
	<!-- ===== CONFIGURACIÓN DE SEGURIDAD ===== -->
	<!-- ====================================== -->

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Url protegidas para el rol MANAGER</web-resource-name>
			<url-pattern>/personal/*</url-pattern>
			<url-pattern>/private/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>MANAGER</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Default basic authentication -->
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

	<!-- =============================== -->
	<!-- ===== PAGINAS POR DEFECTO ==== -->
	<!-- =============================== -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>