<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="springIdol" class="team.boolbee.poc.spring.beans.SpringIdol">
		<property name="performers">
<!-- 			<list> -->
<!-- 				<ref bean="steve"/> -->
<!-- 				<ref bean="duke"/> -->
<!-- 				<ref bean="kenny"/> -->
<!-- 				<ref bean="hank"/> -->
<!-- 				<ref bean="charly"/> -->
<!-- 			</list> -->
			<set>
				<ref bean="steve"/>
				<ref bean="duke"/>
				<ref bean="kenny"/>
				<ref bean="hank"/>
				<ref bean="charly"/>
				<ref bean="charly"/>
			</set>
		</property>
	</bean>

	<bean id="theStage" class="team.boolbee.poc.spring.beans.others.Stage"
		factory-method="getInstance" />

	<bean id="steve" class="team.boolbee.poc.spring.beans.performers.Juggler"/>
<!-- 	<bean id="steve" class="team.boolbee.poc.spring.beans.performers.Juggler"> -->
<!-- 		<constructor-arg value="8"></constructor-arg> -->
<!-- 	</bean> -->

	<bean id="lyrics" class="team.boolbee.poc.spring.beans.others.ImpossibleLyrics" />
	
	<bean id="duke" class="team.boolbee.poc.spring.beans.performers.PoeticJuggler">
		<constructor-arg value="15"></constructor-arg>
		<constructor-arg ref="lyrics"></constructor-arg>
<!-- 		<constructor-arg> -->
<!-- 			<bean class="team.boolbee.poc.spring.beans.others.GhostbustersLyrics"></bean> -->
<!-- 		</constructor-arg> -->
	</bean>

	<bean id="harmonica" class="team.boolbee.poc.spring.beans.instruments.Harmonica"/>
	<bean id="cymbal" class="team.boolbee.poc.spring.beans.instruments.Cymbal"/>
	<bean id="guitar" class="team.boolbee.poc.spring.beans.instruments.Guitar"/>
	<bean id="saxophone" class="team.boolbee.poc.spring.beans.instruments.Saxophone"/>
	<bean id="piano" class="team.boolbee.poc.spring.beans.instruments.Piano"/>
	
	<bean id="kenny" class="team.boolbee.poc.spring.beans.performers.Instrumentalist">
		<property name="song" value="Jingle Bells"/>
<!-- 		<property name="instrument" ref="piano"/> -->
		<property name="instrument">
			<bean class="team.boolbee.poc.spring.beans.instruments.Saxophone"/>
		</property>
	</bean>
	
	<bean id="hank" class="team.boolbee.poc.spring.beans.performers.OneManBand">
		<property name="instruments">
			<map>
				<entry key="GUITAR" value-ref="guitar"/>
				<entry key="CYMBAL" value-ref="cymbal"/>
				<entry key="HARMONICA" value-ref="harmonica"/>
				<entry key="HARMONICA" value-ref="harmonica"/>
			</map>
		</property>
	</bean>
	
	<bean id="charly" class="team.boolbee.poc.spring.beans.performers.SoundMimic">
<!-- 		<property name="sounds"><null/></property> -->
		<property name="sounds">
			<props>
				<prop key="DOG">GUAU GUAU GUAU</prop>
				<prop key="CAT">MIAU MIAU MIAUUUU</prop>
				<prop key="ROOSTER">KIKIRIKIIII</prop>
				<prop key="SAXOPHONE">TUOOT TUOOT TUOOT</prop>
			</props>
		</property>
	</bean>

</beans>