<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

<!-- 	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" -->
<!-- 		scope="singleton"> -->
<!-- 		<property name="jndiName" value="/jdbc/RantzDatasource" /> -->
<!-- 		<property name="resourceRef" value="true" /> -->
<!-- 	</bean> -->

<!-- 	<jee:jndi-lookup id="dataSource" jndi-name="/jdbc/RantzDatasource" resource-ref="true" /> -->

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:/database-${databaseType}.properties" />
	</bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${db.driver}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>

<!-- 	<bean id="dataSource" -->
<!-- 		class="org.springframework.jdbc.datasource.SingleConnectionDataSource"> -->
<!-- 		<property name="driverClassName" value="${db.driver}" /> -->
<!-- 		<property name="url" value="${db.url}" /> -->
<!-- 		<property name="username" value="${db.username}" /> -->
<!-- 		<property name="password" value="${db.password}" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> -->
<!-- 		<property name="driverClassName" value="${db.driver}" /> -->
<!-- 		<property name="url" value="${db.url}" /> -->
<!-- 		<property name="username" value="${db.username}" /> -->
<!-- 		<property name="password" value="${db.password}" /> -->
<!-- 		<property name="initialSize" value="5" /> -->
<!-- 		<property name="maxActive" value="10" /> -->
<!-- 	</bean> -->

</beans>