<?xml version="1.0" encoding="UTF-8"?>

<!-- This XML file defines beans for caching, as depicted in section 5.7. 
	Note that although these caching beans seem to work at runtime, you may see 
	some errors in the XML in your editor...if your editor is XML/XSD-savvy. 
	That's because the Spring Modules XSD files are not actually located at http://www.springmodules.org, 
	as they claim to be. This is a known issue and has been entered into the 
	Spring Modules issue tracking system at http://opensource.atlassian.com/projects/spring/browse/MOD-329. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ehcache="http://www.springmodules.org/schema/ehcache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springmodules.org/schema/ehcache
            http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd">

	<!-- Se carga la configuración de la cache -->
	<ehcache:config configLocation="classpath:ehcache.xml" />

	<!-- Se configuran proxies cache -->
	<ehcache:proxy id="cacheablePersonDao" refId="personDao">
		<ehcache:caching methodName="get*" cacheName="pocCache" />
		<ehcache:caching methodName="list" cacheName="pocCache" />
		<!-- <ehcache:flushing methodName="savePerson" cacheNames="pocCache" /> -->
		<ehcache:flushing methodName="savePerson" cacheNames="pocCache"
			when="before" />
	</ehcache:proxy>

	<!-- Se configura un proxy cache con bean interno -->
	<!--
	<ehcache:proxy id="personDao">
		<bean class="team.boolbee.poc.spring.hibernate.dao.PersonTemplateDao">
			<property name="hibernateTemplate" ref="hibernateTemplate" />
		</bean>
	
		<ehcache:caching methodName="getPersonById" cacheName="pocCache" />
		<ehcache:caching methodName="list" cacheName="pocCache" />
		<ehcache:flushing methodName="savePerson" cacheNames="pocCache"	when="before" />
	</ehcache:proxy>
	-->

</beans>
