<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="vehicles.xls" class="team.boolbee.poc.spring.security.mvc.view.VehiclesExcelView" />
	
	<bean id="vehicles.pdf" class="team.boolbee.poc.spring.security.mvc.view.VehiclesPdfView" />
	
	<bean id="vehicles.rss" class="team.boolbee.poc.spring.security.mvc.view.VehiclesRssView">
		<property name="title" value="poc-webapp-spring-security" />
		<property name="description" value="poc-webapp-spring-security.com" />
		<property name="author" value="poc-webapp-spring-security.com" />
		<property name="link" value="http://www.poc-webapp-spring-security.com" />
	</bean>
	
</beans>