<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- ============================= -->
	<!-- ===== RECEPTOR SINCRONO ===== -->
	<!-- ============================= -->
	
	<bean id="hrDepartmentReceiverGateway" class="team.boolbee.poc.spring.jms.HrDepartmentReceiverGatewayImpl">
		<property name="jmsTemplate" ref="jmsTemplate" />
<!-- 		<property name="destination" ref="destination" /> -->
	</bean>
	
	<!-- ==================================================== -->
	<!-- ===== RECEPTOR ASINCRONO (Message Driven Bean) ===== -->
	<!-- ==================================================== -->
	
	<bean id="hrDepartmentMessageListener" class="team.boolbee.poc.spring.jms.HrDepartmentMessageListener" />
	
	<!-- ================================== -->
	<!-- ===== OYENTE DE MENSAJES JMS ===== -->
	<!-- ================================== -->
	
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="queueDestination" />
<!-- 		<property name="messageListener" ref="hrDepartmentMessageListener" /> -->
		<property name="messageListener" ref="hrDepartmentMessageListenerAdapter" />
		<property name="transactionManager" ref="jmsTransactionManager" />
	</bean>
	
	<!-- ======================================= -->
	<!-- ===== GESTOR DE TRANSACCIONES JMS ===== -->
	<!-- ======================================= -->
	
	<bean id="jmsTransactionManager" class="org.springframework.jms.connection.JmsTransactionManager">
		<property name="connectionFactory" ref="connectionFactory" />
	</bean>

	<!-- ================================================= -->
	<!-- ===== SERVICIO PROCESADOR DE MENSAJE (POJO) ===== -->
	<!-- ================================================= -->
	
	<bean id="hrDepartmentService" class="team.boolbee.poc.spring.jms.service.HrDepartmentService" />
	
	<!-- ======================================================== -->
	<!-- ===== OYENTE DE MENSAJES JMS QUE DELEGA EN UN POJO ===== -->
	<!-- ======================================================== -->
	
	<bean id="hrDepartmentMessageListenerAdapter" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
		<property name="delegate" ref="hrDepartmentService" />
		<property name="defaultListenerMethod" value="processPersonInfo" />
		<property name="messageConverter" ref="personConverter" />
	</bean>
	
</beans>